<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        bootstrap="vendor/autoload.php" 
        backupGlobals="false" 
        colors="true" 
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
  <testsuites>
    <testsuite name="InpiRNEClientTest">
      <directory>./tests/</directory>
    </testsuite>
    <testsuite name="SearchCompanyBySirenTest">
      <file>./tests/features/SearchCompanyBySirenTest.php</file>
    </testsuite>
    <testsuite name="SearchCompaniesByActivitySectorTest">
      <file>./tests/features/SearchCompaniesByActivitySectorTest.php</file>
    </testsuite>
    <testsuite name="SearchCompaniesByCategoryCodeTest">
      <file>./tests/features/SearchCompaniesByCategoryCodeTest.php</file>
    </testsuite>
    <testsuite name="SearchCompaniesByNameTest">
      <file>./tests/features/SearchCompaniesByNameTest.php</file>
    </testsuite>
    <testsuite name="SearchCompaniesBySirenTest">
      <file>./tests/features/SearchCompaniesBySirenTest.php</file>
    </testsuite>
    <testsuite name="SearchCompaniesBySubmissionDateTest">
      <file>./tests/features/SearchCompaniesBySubmissionDateTest.php</file>
    </testsuite>
    <testsuite name="SearchCompaniesByZipCodeTest">
      <file>./tests/features/SearchCompaniesByZipCodeTest.php</file>
    </testsuite>
    <testsuite name="SearchCompanyByNationalDepositNumberTest">
      <file>./tests/features/SearchCompanyByNationalDepositNumberTest.php</file>
    </testsuite>
    <testsuite name="SearchCompanyBySirenTest">
      <file>./tests/features/SearchCompanyBySirenTest.php</file>
    </testsuite>
    <testsuite name="SearchCompanyOldStateBySirenTest">
      <file>./tests/features/SearchCompanyOldStateBySirenTest.php</file>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </source>
</phpunit>
