<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        bootstrap="vendor/autoload.php" 
        backupGlobals="false" 
        colors="true" 
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
  <testsuites>
    <testsuite name="RNEClientTest">
      <directory>./tests/</directory>
    </testsuite>
    <testsuite name="SearchCompaniesTest">
      <directory>./tests/features/SearchCompanies/</directory>
    </testsuite>
    <!-- <testsuite name="DifferentialSearch">
      <directory>./tests/features/DifferentialSearch/</directory>
    </testsuite> -->
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </source>
</phpunit>
