<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
  <coverage/>
  <testsuites>
    <testsuite name="InpiRNEClientTest">
      <directory>./tests/</directory>
    </testsuite>
    <testsuite name="SearchCompanyBySirenTest">
      <file>./tests/InpiRNEClient/SearchCompanyBySirenTest.php</file>
    </testsuite>
    <testsuite name="SearchCompaniesByActivitySectorTest">
      <file>./tests/InpiRNEClient/SearchCompaniesByActivitySectorTest.php</file>
    </testsuite>
    <testsuite name="SearchCompaniesByCategoryCodeTest">
      <file>./tests/InpiRNEClient/SearchCompaniesByCategoryCodeTest.php</file>
    </testsuite>
    <testsuite name="SearchCompaniesByNameTest">
      <file>./tests/InpiRNEClient/SearchCompaniesByNameTest.php</file>
    </testsuite>
    <testsuite name="SearchCompaniesBySirenTest">
      <file>./tests/InpiRNEClient/SearchCompaniesBySirenTest.php</file>
    </testsuite>
    <testsuite name="SearchCompaniesBySubmissionDateTest">
      <file>./tests/InpiRNEClient/SearchCompaniesBySubmissionDateTest.php</file>
    </testsuite>
    <testsuite name="SearchCompaniesByZipCodeTest">
      <file>./tests/InpiRNEClient/SearchCompaniesByZipCodeTest.php</file>
    </testsuite>
    <testsuite name="SearchCompanyByNationalDepositNumberTest">
      <file>./tests/InpiRNEClient/SearchCompanyByNationalDepositNumberTest.php</file>
    </testsuite>
    <testsuite name="SearchCompanyBySirenTest">
      <file>./tests/InpiRNEClient/SearchCompanyBySirenTest.php</file>
    </testsuite>
    <testsuite name="SearchCompanyOldStateBySirenTest">
      <file>./tests/InpiRNEClient/SearchCompanyOldStateBySirenTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
